---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ReactChild from "./react/join.tsx"
import logo from "./_assets/nbtca.gif";
---

<BaseLayout title="加入我们">
  <main>
    <ReactChild client:load />
    <img src={logo.src} />
  </main>
</BaseLayout>
