---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ReactChild from "./react/join.tsx"
import logo from "./_assets/nbtca.gif";
---

<BaseLayout title="加入我们">
  <main>
    <img src={logo.src} />
    <ReactChild client:load />
    <div>
      1.本页面仅作计算机协会新人信息登记使用，原则上登记即可加入。但入社后可能仍需要在学校的平台登记，后续请留意群内通知。
      <br />
      2.允许多次提交表单，通常以最后一次提交为准。
    </div>
  </main>
</BaseLayout>
