---
import BaseLayout from "../../layouts/BaseLayout.astro"
// import ReactChild from "./react/list.tsx";
---

<BaseLayout title="列表">
  <main>
    <!-- <ReactChild client:load /> -->
  </main>
</BaseLayout>
