---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ReactChild from "./react/qrcode.tsx"
import qrcode from "./_assets/qrcode_1727189194077.jpg";
---

<BaseLayout title="QRCode">
  <main>
    <ReactChild client:only="react" qrcode={qrcode.src} />
  </main>
</BaseLayout>
