---
import BaseLayout from "../../layouts/BaseLayout.astro"
import MembersList from "./MembersList.tsx"
---

  <BaseLayout primaryTitle="关于">
    <section class="pb-20 bg-[#f5f5f7]">
      <div class="section-content">
        <div
          class="text-2xl lg:text-3xl leading-[1.125] font-bold pt-6 pb-4 lg:pb-6"
        >
          协会成员
        </div>
        <MembersList client:load />
      </div>
    </section>
  </BaseLayout>

  <style is:global>
  /* Initial state */
  .navigate {
    transition: transform 0.2s;
  }

  /* Hover state */
  .navigate:hover {
    text-decoration: underline;
    transform: scale(1.1);
  }

  /* Active state */
  .navigate:active {
    animation: ease-in-out 1s exit forwards;
  }

  /* Define exit animation */
  @keyframes exit {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  /* No link color style */
  .no-link-color {
    color: inherit;
    text-decoration: none;
  }
  </style>
