---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout primaryTitle="关于">
  <section class="p-8 archive flex items-center justify-center">
    <img src="https://oss.nbtca.space/CA-logo.svg" alt="" class="w-72 aspect-square pb-16" />
  </section>
</BaseLayout>
