---
import HeaderNavigation from "./HeaderNavigation"
---

<nav class="nav">
  <div class="flex items-center justify-center">
    <div class="w-full flex items-center">
      <HeaderNavigation client:load />
    </div>
  </div>
</nav>
