---
import HeaderNavigation from "./HeaderNavigation"
---

<nav class="nav">
  <div class="flex items-center justify-center">
    <div class="max-w-[1005px] w-full">
      <HeaderNavigation client:load />
    </div>
  </div>
</nav>
