---
import { SITE_TITLE } from "../consts"
---

<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <div class="" style="display: flex; align-items: center; gap: 12px;">
          <img src="https://oss.nbtca.space/CA-logo.svg" alt="" style="width: 28px; aspect-ratio: 1;"/>
          <a href="/" class="nav-title">{SITE_TITLE}</a>
        </div>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/archive" class="nav-item-content">目录</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="https://repair.nbtca.space" class="nav-item-content">维修</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/about" class="nav-item-content">关于</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/rss.xml" class="nav-item-content" target="_blank">RSS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
