---
import BaseLayout from "../../layouts/BaseLayout.astro"
import RepairHeader from "../../components/header/RepairHeader.astro"
import RepairAdmin from "./RepairAdmin"
---

<BaseLayout primaryTitle="Create Ticket">
  <RepairHeader></RepairHeader>
  <div>
    <RepairAdmin client:only="react"></RepairAdmin>
  </div>
</BaseLayout>
