---
import NavigationUser from "../../components/header/NavigationUser.vue"
---

<div class="box-border border-b sticky top-0 bg-white/80 backdrop-blur z-20 h-12">
  <div class="h-full flex items-center justify-between text-lg max-w-[1024px] mx-auto px-[22px]">
    <span class="font-semibold">维修</span>
    <NavigationUser client:load />
  </div>
</div>
