---
import BaseLayout from "../../layouts/BaseLayout.astro"
import RepairHeader from "../../components/header/RepairHeader.astro"
import EventDetail from "./EventDetail"
---

<BaseLayout primaryTitle="Create Ticket">
  <RepairHeader></RepairHeader>
  <div>
    <EventDetail client:only="react"></EventDetail>
  </div>
</BaseLayout>
